<div class="sidebar" [ngClass]="{ 'open ': sidebarOpen }">
  <div class="logo-details">
    <i class="bx bxl-c-plus-plus icon"></i>
    <div class="logo_name">Shopping TN</div>
    <i class="bx bx-menu" id="btn" (click)="toggleSidebar()"></i>
  </div>
  <ul class="nav-list">
    <li>
      <i class="bx bx-search" (click)="toggleSidebar()"></i>
      <input
        type="text"
        placeholder="Search..."
        id="searchInput"
        (keyup)="updateSearchData($event)"
      />
      <span class="tooltip">Search</span>
    </li>
    <li
      class="showMenu"
      (click)="toggleSubMenu($event)"
      [class.active]="isSubMenuVisible"
    >
      <a>
        <i class="bx bx-collection"></i>
        <span class="links_name">Category</span>
        <i
          class="bx bxs-chevron-up arrow"
          style="margin-left: 60px"
          *ngIf="sidebarOpen && isSubMenuVisible"
        ></i>
        <i
          class="bx bxs-chevron-down arrow"
          style="margin-left: 60px"
          *ngIf="sidebarOpen && !isSubMenuVisible"
        ></i>
      </a>
      <span class="tooltip">Category</span>
      <ul class="sub-menu" *ngIf="isSubMenuVisible">
        <li><a class="link_name">Category</a></li>
        <li
          (click)="updateCategoryData(category)"
          *ngFor="let category of categories"
        >
          <a>{{ category }}</a>
        </li>
      </ul>
    </li>

    <li>
      <a routerLink="/products" routerLinkActive="active">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name">Products</span>
      </a>
      <span class="tooltip">Products</span>
    </li>
    <li>
      <a routerLink="/users" routerLinkActive="active">
        <i class="bx bx-user"></i>
        <span class="links_name">Users</span>
      </a>
      <span class="tooltip">Users</span>
    </li>
    <li>
      <a routerLink="/messages" routerLinkActive="active">
        <i class="bx bx-chat"></i>
        <span class="links_name">Messages</span>
      </a>
      <span class="tooltip">Messages</span>
    </li>
    <li>
      <a routerLink="/carts" routerLinkActive="active">
        <i class="bx bx-cart-alt"></i>
        <span class="links_name">Order</span>
      </a>
      <span class="tooltip">Order</span>
    </li>
    <li class="profile">
      <div class="profile-details">
        <img src="assets/profile.jpg" alt="profileImg" />
        <div class="name_job">
          <div class="name">{{ userDate.username }}</div>
          <div class="job">{{ userDate.email }}</div>
        </div>
      </div>
      <i class="bx bx-log-out" id="log_out" (click)="logout()"></i>
    </li>
  </ul>
</div>
<section class="home-section">
  <router-outlet></router-outlet>
</section>
