<div class="modal-header mat-dialog-container">
  <h5 class="modal-title" id="exampleModalLabel">Cart Details</h5>
  <button mat-flat-button class="text-danger" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="modal-body">
  <div class="cartBox">
    <!-- User Information Section -->
    <div class="user-info" *ngIf="userData">
      <img
        *ngIf="userData?.profile"
        class="profile-image"
        src="{{userData.profile}}"
        alt="User Profile Image"
      />
      <div class="user-details">
        <p>
          <span class="value" >{{ userData.email }}</span>
        </p>
        <p>
          <span class="value">{{ userData.username }}</span>
        </p>
        <p>
          <span class="value">{{ userData.phoneNumber }}</span>
        </p>
      </div>
    </div>

    <!-- Cart Details Table -->
    <table class="table text-center">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Price</th>
          <th style="width: 25%">Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of productsSingleCart; let i = index">
          <td><img src="{{ item.imageUrl }}" alt="" /></td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }} Dt</td>
          <td>
            {{ item.quantity }}
          </td>
          <td>{{ (item.price * item.quantity).toFixed(2) }} Dt</td>
        </tr>
      </tbody>
    </table>
    <!-- Address Section -->
    <div class="address-details">
      <p><strong>Address:</strong> {{ data.address.properties.formatted || ""}}</p>
      <p *ngIf="data.address.properties.street"><strong>Street:</strong> {{ data.address.properties.street || ""}}</p>
      <p *ngIf="data.address.properties.city"><strong>City:</strong> {{ data.address.properties.city || ""}}</p>
      <p><strong>State:</strong> {{ data.address.properties.state || ""}}</p>
      <!-- <p><strong>Country:</strong> {{ data.address.properties.country }}</p> -->
      <p>
        <strong>Postal Code:</strong> {{ data.address.properties.postcode }}
      </p>
    </div>

    <!-- Accept Order Button -->
    <div class="text-center">
      <button class="btn btn-outline-success mb-3" (click)="acceptOrder()">Accept Order</button>
    </div>
  </div>
</div>
