<div class="container">
  <div class="img">
    <img src="/assets/login.gif" alt="login" />
  </div>
  <form class="form" [formGroup]="loginForm">
    <p class="title">Login</p>
    <p class="message">SignIn now and get full access to our app.</p>
    <label>
      <input
        formControlName="email"
        required=""
        placeholder=""
        type="email"
        class="input"
      />
      <span>Email</span>
    </label>

    <label>
      <input
        formControlName="password"
        required=""
        placeholder=""
        type="password"
        class="input"
      />
      <span>Password</span>
    </label>

    <button class="submit" (click)="login()" [disabled]="loginForm.invalid">
      Submit
    </button>
    <button
      class="submit"
      style="
        background-color: transparent;
        color: #f44336;
        border: #f44336 solid 1px;
      "
      routerLink="/forget-password"
    >
      Forget Password?
    </button>
  </form>
</div>


